/**
 * Comments!
 * The selectors have been rearranged, but nothing has effectively changed
 * This should output no differences
 */

.b.a {
  color: purple !important;
}

h1.one.complex > button#id.disabled[disabled]:active {
  background: red;
  font-size: 18px;
}
